# Game mode
saveslot              : 0       # 0 for new game or 1-9 for load game
checkpoint            : ""      # When loading game, what checkpoint should the TAS jump to?

# Valid checkpoints (SoS Any%):
#   intro_mooncradle            # First cavern in flashback
#   intro_dorms                 # First entering dorms of Zenith Academy
#   intro_dorms2                # Dorms of Zenith Academy, just before final trial
#   forbidden_cave              # Forbidden Cave entrance
#   forbidden_cave2             # Forbidden Cave campfire

# User Interface
ui:
  vsync               : True    # Caps framerate at monitor refresh rate

# Logging
logging:
  color_log           : True    # Colors the console output. May not work on some systems.
  verbosity           : DEBUG   # Verbosity of log messages in the console.
                                # These are the valid levels: DEBUG, INFO, WARNING, ERROR, CRITICAL
                                # Full log will always be available in a file.
